@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    clip: rect(85px 450px 395px 45px);
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.l-inner {
    width: 1100px;
    margin: 0 auto;
}


/* ----------------------------------
    footer
---------------------------------- */
footer {
    color: #999;
    border-top: 1px solid #ccc;
    background: #F0EEEB;
}
footer a {
    color: #999;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    font-size: 12px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
}
.footer-about {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
footer .logo {
    width: 100px;
    margin: 0px 180px 0px 200px;
}
footer .cop-info ul li + li {
    margin-top: 5px;
}
footer .cop-info ul li a {
    text-decoration: underline;
}
footer .cop-info ul li strong {
    font-weight: 500;
}
footer .follow-sns {
    text-align: center;
}
footer .follow-sns strong {
    display: block;
    margin-bottom: 10px;
}
footer .follow-sns ul {
    display: flex;
}
footer .follow-sns ul li + li {
    text-align: center;
    margin-left: 10px;
}
footer .follow-sns ul li {
    width: 71px;
}
footer .follow-sns ul li a {
    display: block;
    width: 100%;
}
footer .icon {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/common/icon_sns.png) 0 0 no-repeat;
    opacity: .3;
    margin: 0 auto 5px;
}
footer .icon:hover {
    opacity: 1;
}
/* footer .icon.icon-twiter { background-position: 0 0; } */
footer .icon.icon-instargram { background-position: -80px 0; }
footer .icon.icon-facebook { background-position: 0 0; }
footer .icon.icon-youtube { background-position: -120px 0; }
footer .icon.icon-tell { background-position: 0 -30px; }
footer .icon.icon-report { background-position: -40px -30px; }
footer .icon.icon-inquiry { background-position: -80px -30px; }
.footer-copy .footer-inner {
    padding-left: 210px;
    justify-content: flex-start;
}
.footer-copy .terms a {
    display: inline-block;
}
.footer-copy .terms a + a {
    margin-left: 10px;
}
.footer-copy .copy {
    margin-left: 190px;
}
.footer-copy .copy strong {
	font-weight: 500;
}
