@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
/* h1, h2, h3, h4, h5, h6 {
    clip: rect(85px 450px 395px 45px);
} */

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.l-inner {
    width: 1100px;
    margin: 0 auto;
}


/* ----------------------------------
    footer
---------------------------------- */
footer {
    color: #999;
    border-top: 1px solid #ccc;
    background: #ffffff;
}
footer a {
    color: #999;
}

.info {
    padding-left: 480px;
    justify-content: flex-start;	
	
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    font-size: 12px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
}
.footer-about {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}


.footer-copy .footer-inner {
    padding-left: 80px;
    justify-content: flex-start;
    font-size:15px;
}
.footer-copy .terms a {
    display: inline-block;
}
.footer-copy .terms a + a {
    margin-left: 10px;
}
.footer-copy .copy {
    margin-left: 190px;
}
.footer-copy .copy strong {
	font-weight: 500;
}
